.contact_container {
  height: auto;
  overflow: hidden;

  & .contact_title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontKanit;
    padding: 60px 0;

    & .contact_bigTitle {
      @include bigTille;
    }

    & .contact_littleTitle {
      @include littleTille;
    }
  }

  .contact_main {
    width: 100%;

    form {
      width: 80%;
      margin: 0 auto;
      font-family: $fontKanit;
      color: #fff;

      .contact_top {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 50px;

        div {
          display: block;
          width: 100%;

          input {
            margin: 10px 0 20px 0;
            width: 100%;
            padding: 10px;
            border: 1px solid #2a303d;
            border-radius: 5px;
            background-color: #1f2631;
            font-weight: 300;
            color: #ffffff;
            font-family: $fontKanit;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

            &::placeholder {
              font-family: $fontKanit;
            }
          }
        }
      }

      .contact_bottom {
        width: 100%;

        textarea {
          margin: 10px 0;
          width: 100%;
          padding: 10px;
          border: 1px solid #2a303d;
          border-radius: 5px;
          background-color: #1f2631;
          font-weight: 300;
          color: #ffffff;
          height: 150px;
          font-family: $fontKanit;
          resize: none;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
      }

      input[type=submit] {
        @include button_submit;
        width: 125px;
        padding: 5px;
        height: 35px;
        margin: 20px 0;
      }
    }
  }
}