.dashboard_page {
    background-color: $darkLight;
    display: flex;
    flex-direction: row;

    .dashboard_main {
        margin-left: 300px;
        color: #fff;
        flex: 1;

        @include tablet {
            margin-left: 0;
        }
    }
}
