.dashboard_page {
    background-color: $darkLight;
    display: flex;
    flex-direction: row;

    .dashboard_main {
        height: 8000px;
        margin-left: 300px;
        color: #fff;
        flex: 1;
    }
}
