body {
    background-color: $blueBg;

    .homePage {
        height: 100vh;

        .homePage_background {
            height: 100vh;
            width: 100%;
            background-image: url("../../assets/images/HomeBackground.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .container {
            @include container;

            .home_main {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .top_line {
                    width: 200px;
                    height: 5px;
                    background-color: $yellow;
                    margin-left: -50px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                }

                .bottom_line {
                    width: 200px;
                    height: 5px;
                    background-color: $yellow;
                    margin-right: -50px;
                    margin-top: 20px;
                    border-radius: 10px;
                    display: block;
                    margin-left: auto;
                }

                .home_title {
                    font-family: $fontPoppins;
                    font-weight: 600;
                    font-size: 120px;
                    color: $white;
                    text-transform: uppercase;

                    @include tablet {
                        font-size: 120px;
                    }

                    @include mobile {
                        font-size: 60px;
                    }
                }

                & p {
                    text-transform: uppercase;
                    color: $white;
                    font-size: 30px;
                    font-family: $fontRobotoMono;

                    @include tablet {
                        font-size: 25px;
                    }

                    @include mobile {
                        font-size: 15px;
                    }
                }
            }

            .home_media {
                display: flex;
                flex-direction: column;
                position: fixed;
                left: 100px;
                bottom: 150px;
                justify-content: center;
                align-items: center;

                .middle_line {
                    width: 2px;
                    height: 0;
                    top: 100px;
                    position: absolute;
                    background: $white;
                }

                @include tablet {
                    left: 20px;
                }

                @include mobile {
                    display: none;
                }
            }

            .home_mouseIcon {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);

                & img {
                    width: 24px;
                }
            }
        }
    }
}
