@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($tablet-width + 1)) {
        @content;
    }
}

@mixin littleTille {
    position: absolute;
    text-transform: uppercase;
    color: #ffe04b;
    text-align: center;
    font-size: 70px;
    letter-spacing: -2px;

    @include tablet {
        font-size: 60px;
    }

    @include mobile {
        font-size: 35px;
    }
}

@mixin bigTille {
    text-transform: uppercase;
    text-align: center;
    opacity: 0.1;
    font-size: 160px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #f1f1f1;

    @include tablet {
        font-size: 130px;
    }

    @include mobile {
        font-size: 55px;
    }
}

@mixin container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@mixin illuminated_logo {
    width: 64px;
    filter: drop-shadow(0 0 32px rgba(255, 255, 255, 0.75));
    margin: 50px 0 75px 0;
}

@mixin admin_title {
    font-family: $fontPoppins;
    font-weight: 600;
    font-size: 100px;
    color: $yellow;
    width: 400px;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: '';
        width: 30%;
        display: block;
        height: 5px;
        top: -5%;
        right: -10px;
        position: absolute;
        background: $white;
        border-radius: 10px;
    }

    &::after {
        content: '';
        width: 30%;
        display: block;
        height: 5px;
        bottom: -15%;
        left: -10px;
        position: absolute;
        background: $white;
        border-radius: 10px;
    }
}

@mixin input {
    width: 100%;
    height: 25px;
    padding: 10px;
    background: $darkBlack;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    color: #757575;

    &:focus {
        outline: none;
    }
}

@mixin label {
    text-align: left;
    font-family: $fontPoppins;
    margin-bottom: 10px;
    font-size: 12px;
}

@mixin scrollbar {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: #717171;
    height: 300px;
    border-top: 2px solid #1a1d1f;
    border-bottom: 2px solid #1a1d1f;
    padding: 0 20px;
    margin: 10px auto;
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(26, 29, 31, 0.5);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #717171;
        border: 2px solid rgb(26, 29, 31);
        border-radius: 10px;
        width: 4px;
        transition: background-color 0.5s ease-in;

        &:hover {
            background-color: darken(#717171, 10%);
        }
    }

    &::-webkit-scrollbar-track {
        margin-block: 10px;
    }
}