@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($tablet-width + 1)) {
        @content;
    }
}

@mixin littleTille {
    position: absolute;
    text-transform: uppercase;
    color: #ffe04b;
    text-align: center;
    font-size: 70px;
    letter-spacing: -2px;

    @include tablet {
        font-size: 60px;
    }

    @include mobile {
        font-size: 35px;
    }
}

@mixin bigTille {
    text-transform: uppercase;
    text-align: center;
    opacity: 0.1;
    font-size: 160px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #f1f1f1;

    @include tablet {
        font-size: 130px;
    }

    @include mobile {
        font-size: 55px;
    }
}

@mixin container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@mixin illuminated_logo {
    width: 64px;
    filter: drop-shadow(0 0 32px rgba(255, 255, 255, 0.75));
    margin: 50px 0 75px 0;
}

@mixin admin_title {
    font-family: $fontPoppins;
    font-weight: 600;
    font-size: 100px;
    color: $yellow;
    width: 400px;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: '';
        width: 30%;
        display: block;
        height: 5px;
        top: -5%;
        right: -10px;
        position: absolute;
        background: $white;
        border-radius: 10px;
    }

    &::after {
        content: '';
        width: 30%;
        display: block;
        height: 5px;
        bottom: -15%;
        left: -10px;
        position: absolute;
        background: $white;
        border-radius: 10px;
    }
}
