// Color
$white: #f1f1f1;
$blueBg: #171B24;
$yellow: #FFE24C;
$darkLight: #0E0F10;
$darkBlack: #070708;
$gray: #686868;
$errorRed: #EF5350;


// FontSize
$fontsizeNavbar: 17px;

// Typo
$fontRobotoMono: 'Roboto Mono', monospace;
$fontPoppins: 'Poppins', sans-serif;
$fontKanit: 'Kanit', sans-serif;

// Size Responsive
$mobile-width: 768px;
$tablet-width: 1450px;
$desktop-width: 1500px;

// Images
$homeBackgroundImage: url("../../assets/HomeBackground.png");