.sidebar_navbar_burgerWrapper {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    height: 20px;
    width: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet {
        display: flex;
    }

    & span {
        background-color: #fff;
        height: 3px;
        width: 100%;
        transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease;
    }

    & span:nth-child(1) {
        transform: translateY(-150%);
    }

    & span:nth-child(2) {
        align-self: flex-end;
        transform: translateY(150%);
        width: 60%;
    }

    &.active {
        & span:nth-child(1) {
            transform: rotate(45deg);
            position: absolute;
        }

        & span:nth-child(2) {
            transform: rotate(-45deg);
            position: absolute;
            width: 100%;
        }
    }
}