.modal_component {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal_main {
        background: #000000;
        padding: 60px;
        position: relative;
        color: #fff;
        width: 800px;

        .modal_quit {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }

        form {
            .modal_title_image {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: auto 20px;

                    input {
                        @include input;
                        background-color: $darkLight;
                    }

                    label {
                        @include label;
                    }
                }
            }

            .modal_inputs {
                display: flex;
                flex-direction: column;
                margin: 20px;

                input {
                    @include input;
                    background-color: $darkLight;
                }

                label {
                    @include label;
                }

                textarea {
                    @include input;
                    @include scrollbar;
                    background-color: $darkLight;
                    height: 100px;
                    resize: none;
                    padding: 10px;
                    font-family: sans-serif;
                    line-height: 20px;

                    &::-webkit-scrollbar-track {
                        margin-block: 1px;
                    }
                }
            }

            .modal_skills {
                display: flex;
                align-items: center;
                margin: auto 20px;

                .modal_check_button {
                    width: 20px;
                }

                .modal_skills_selected {
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        background-color: $darkLight;
                        padding: 10px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        font-family: $fontPoppins;
                        font-size: 15px;
                    }

                    .modal_skill_trash {
                        width: 10px;
                        margin-left: 8px;
                        cursor: pointer;
                    }
                }

                .modal_skills_div {
                    width: 50%;
                    display: flex;
                    justify-content: center;

                    label {
                        display: inline;
                    }

                    select {
                        @include select;
                        @include scrollbar;
                        padding: 10px;
                    }

                    .modal_check_button {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }

            .modal_submit {
                background-color: $yellow;
                margin: 30px auto 0 auto;
                display: block;
                @include button_submit;
            }
        }
    }
}
