.projects_page {
    background-color: $darkLight;
    min-height: 100vh;

    .projects_title {
        margin: 50px auto 75px auto;
        text-align: center;

        @include admin_title;

        width: 550px;

        @include tablet {
            font-size: 80px;
        }
    }

    .projects_form_submit {
        @include button_submit;
        display: block;
        margin: 50px auto;
    }

    .projects_list {
        .project_item {
            margin-bottom: 50px;

            .project_item_image {
                width: 130px;
            }
        }
    }
}
