.skills_page {
    @include container;
    background-color: $darkLight;
    min-height: 100vh;

    .skills_title {
        margin: 50px auto 75px auto;
        text-align: center;
        @include admin_title;

        @include tablet {
            font-size: 80px;
        }
    }

    .skills_choose_section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skills_select {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                font-family: $fontRobotoMono;
                margin-bottom: 25px;
            }

            select {
                width: 260px;
                padding: 15px;
                @include select;
            }
        }

        .skills_select_role {
            margin-top: 50px;
        }

        .skills_informations {
            display: flex;
            margin: 70px auto;
            align-items: last baseline;

            @include tablet {
                flex-direction: column;
                margin: 20px auto;
            }

            .skills_input {
                display: flex;
                flex-direction: column;
                margin: 0 50px;

                @include tablet {
                    margin: 15px 50px;
                }

                input {
                    width: 175px;
                    height: 25px;
                    padding: 10px;
                    background: $darkBlack;
                    color: white;
                    border: none;
                    display: flex;
                    align-items: center;
                    color: #757575;

                    &:focus {
                        outline: none;
                    }
                }

                label {
                    text-align: left;
                    font-family: $fontPoppins;
                    margin-bottom: 10px;
                    font-size: 12px;
                }
            }

            button {
                align-self: flex-end;
                margin: 0 50px;

                @include button_submit;
                @include tablet {
                    margin: 15px 50px;
                    align-self: center;
                }
            }
        }
    }

    .skills_items_section {
        .skills_items_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            margin-bottom: 10px;

            p {
                color: #fff;
                font-family: $fontRobotoMono;
                font-size: 15px;
                letter-spacing: -1px;
            }
        }

        .skills_items {
            height: 300px;
            border-top: 2px solid #1a1d1f;
            border-bottom: 2px solid #1a1d1f;

            @include scrollbar;

            ul {
                position: relative;
                height: 100%;

                .skills_error_fetch {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: $fontRobotoMono;
                }

                .skill_item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 30px 0;

                    &:not(:first-child) {
                        border-top: 1px solid rgba(26, 29, 31, 0.5);
                    }

                    .skill_item_logo {
                        width: 25px;
                    }

                    p {
                        color: #fff;
                        font-family: $fontPoppins;
                        font-size: 16px;
                        font-weight: 500;
                        width: 50px;
                    }

                    .skill_item_section {
                        text-transform: capitalize;
                    }

                    .skill_item_delete {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
